body,
section,
main,
nav,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
}

h1 {
  margin: .20em 0 0 .5em;
}

h3 {
  text-align: center;
}

body {
  height: 100vh;
}

header {
  background-color: #000000;
  justify-content: space-between;
  height: 8vh;
}

header > h1 {
  margin-right: 10px;
}

.contents {
  justify-content: space-between;
  height: 92vh;
}

.sidenav {
  width: 20vw;
  background-color: #000000;
  overflow-y: auto;
}

.sidenav > div {
  margin: 10px;
}

.updateDiv {
  text-align: center;
}

main {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.textField {
  flex-grow: 1;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  overflow-y: auto;
}

.textField > p {
  color: #000000;
}

.textField > h3 {
  color: #000000;
  border-bottom: 2px solid #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.amazon, .primevideo {
  background-color: #0052cc;
}

.hulu {
  background-color: #003d99;
}

.netflix {
  background-color: #3385ff;
}

.disney {
  background-color: #66a3ff;
}

#chart {
  width: 100%;
  height: 75%;
}

#info {
  background-color: #CCCCCC;
  height: 25%;
  width: 100%;
  justify-content: center;
}

.bar {
  fill: #a4cff4;
  color: #a4cff4;
}

.axis {
  color: black;
}

.Prime {
  fill: #0052cc;
}

.Hulu {
  fill: #003d99;
}

.Netflix {
  fill: #3385ff;
}

.Disney {
  fill: #66a3ff;
}

.tooltip{
  fill:lightgray
}

strong > a {
  text-decoration: none;
  color: white;
}