body,
section,
main,
nav,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-family: calibri;
}

.row {
    display: flex;
    flex-direction: row;
}

.navElement{
  cursor: pointer;
  padding: 1em;
}
  
.selected {
  background-color: #003380;
}