body,
section,
main,
nav,
h1,
h2
{
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
}
p
{
  text-align: center;
  color: #000000;
}
h1 {
  margin: .20em 0 0 .5em;
}

h3 {
  text-align: center;
  color: #000000;
}

body {
  height: 100vh;
}

header {
  background-color: #000000;
  justify-content: space-between;
  height: 8vh;
}

header > h1 {
  margin-right: 10px;
}

.contents {
  justify-content: space-between;
  height: 92vh;
}

.center{
    text-align: center; 
}